# Data Cleaning (SMS Spam Collection Dataset)

in this notebook,we will:
 - Load Dataset
 - Remove Unwanted columns
 - Rename columns
 - Remove Duplicate rows
 - Encode Labels
 - Save Cleaned data

## Step 1: Set project root for python imports

In [1]:
import os
import sys

sys.path.append(os.path.abspath(".."))

## Step 2: Load Dataset

In [2]:
from src.data import ( load_data,
check_mis_val,
remove_cols,
rename_cols,
remove_duplicate_rows,
encode_labels,
data_info,
save_clean_data
)
                    
df = load_data(r"D:\Thiru\ML_Projects\GitHub\spam-detection-model\data\raw/spam.csv", 'latin-1')

'Dataset successfully loaded'

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

## Step 3: Missing Values

In [3]:
check_mis_val(df)

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

## Step 4: Remove Redundant Columns

In [4]:
df = remove_cols(df)

## Step 5: Rename Colunms

In [5]:
df = rename_cols(df)

## Step 6: Remove Duplicate rows

In [6]:
df = remove_duplicate_rows(df)

Duplicate rows:403

After_drop Duplicate rows:0

## Step 7: Encode labels

In [7]:
df = encode_labels(df)

## Step 8: Cleaned Data Info

In [8]:
data_info(df)

<class 'pandas.core.frame.DataFrame'>
Index: 5169 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5169 non-null   int64
 1   message  5169 non-null   object
dtypes: int64(1), object(1)
memory usage: 121.1+ KB
None

## Step 9: Save Cleaned Data

In [9]:
save_clean_data(df ,r"D:\Thiru\ML_Projects\GitHub\spam-detection-model\data\processed" ,"Cleaned-spam.csv")

Cleaned Dataset save into D:\Thiru\ML_Projects\GitHub\spam-detection-model\data\processed\Cleaned-spam.csv

## Data Cleaning Summary
 - Dropped Irrelevant columns
 - Renamed Columns
 - Removed duplicates rows
 - Encoded labels
 - **saved dataset into** D:\Thiru\ML_Projects\GitHub\spam-detection-model\data\processed